<div class="container">
  <div class="input-group">
    <span class="input-group-addon" id="user-name-lbl">User name</span>
    <input type="text" class="form-control" id="user-name" aria-describedby="user-name-lbl">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="location-lbl">Location</span>
    <input type="text" class="form-control" id="location" aria-describedby="location-lbl">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="password-lbl">Password</span>
    <input type="text" class="form-control" id="password" aria-describedby="password-lbl">
  </div>
  <button class="button button-default" ng-click="loginClick">Login</button>
</div>