<div class="container">
	<div class="row">
		Suggestions
	</div>
	<div class="row">
		<div class="col-xs-3">Id</div>
		<div class="col-xs-3">From</div>
		<div class="col-xs-2">Message</div>
	</div>
	<div ng-repeat="suggestion in $ctrl.suggestions">
		<div class="panel panel-default panel-body">
			<div class="col-xs-3">{{suggestion._id}}</div>
			<div class="col-xs-3">{{suggestion.name}}</div>
			<div class="col-xs-2">{{suggestion.message}}</div>
			<div class="col-xs-1">
			  <button type="button" class="btn btn-default btn-small">
			    <span class="glyphicon glyphicon-star-empty"></span>
			  </button>
			  <button type="button" class="btn btn-default btn-small">
			    <span class="glyphicon glyphicon-unchecked"></span>
			  </button>
			</div>
		</div>
	</div>
</div>